cmd/cmd
cmd/dnscheck
dnscheck-client-arm
dnscheck-server-arm
test-deployment/server/errors.txt
test-deployment/server/invalid_main_domains.txt
test-deployment/server/invalid_variant_domains.csv
test-deployment/server/valid_main_domains.csv
test-deployment/server/valid_variant_domains.csv
test-deployment/server/domaindata.sqlite3
test-deployment/server/dnscheck
test-deployment/server/clientcache.db
dnscheck-client
dnscheck-server
*.sqlite3
*.db
*.zip
test-deployment/server/